<h1>Editing calendar</h1>

<% form_for(@calendar) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= render 'form', :f => f %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @calendar %> |
<%= link_to 'Back', calendar_path %>