<h2>Listing calendars</h2>

<% @calendars.each do |calendar| %>
  <h3><%=h calendar.title %></h3> 
  <p><%=h short(calendar.description) %></p>
  <p>
    <%= link_to 'Show Calender', calendar %> |
    <%= link_to 'Edit', edit_calendar_path(calendar) %> |
    <%= link_to 'Destroy', calendar, :confirm => 'Are you sure?', :method => :delete %>
  </p>
  (Calender has: <%= pluralize(calendar.events.count, "Event", "Events") %>)<br />
<% end %>
