<h3>
  <%=h @calendar.title %>
</h3>
<p>
  <%=h @calendar.description %>
</p>
<% #if session[:user_id] %>
  <%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<% #end %>
<%= link_to 'Back', calendars_path %>

<br />


<h3>Events</h3>
  <%= render @calendar.events %>
<br />


<h3>Create new event</h3>
<%= render 'events/form', :calendar => @calendar, :event => Event.new %>
