<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Calendars: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="box">
  <h1><%= link_to "Many Calendars", calendars_path, :class => 'title' %></h1>
</div>

<p><%= flash[:notice] %></p>

<%= yield %>

  <p id="footer">&copy;2010 by TA & AF</p>

</body>
</html>
